
body {
    font-family: 'Cairo', 'Inter', sans-serif;
    margin: 5px;
    background: linear-gradient(to right, #8ec1f7, azure);
}
input {
    text-align: center;
    border-radius: 7px;
}
nav {
    background: linear-gradient(to left, rgb(76, 76, 107), rgb(37, 37, 52));
    color: azure;
    border-radius: 15px;
}
button {
    background: linear-gradient(to right, #eaf789, #ffd373); /* تدرج لوني جذاب */
    color: #333; /* لون نص داكن */
    border: none;
    transition: 0.6s ease;
    padding: 15px 25px;
    border-radius: 30px; /* جعل الزر دائرياً من الحواف */
    font-size: 18px;
    font-weight: 700;
    cursor: pointer; /* تغيير شكل المؤشر ليشعر المستخدم أنه يمكن الضغط عليه */
}
button:hover {
    transform: scale(1.070);
    box-shadow: 0px 4px 11px rgba(231, 227, 3, 0.777);
}

.title {
    justify-self: center;
    font-weight: 800;
}

p {
    font-size: 26px;
    justify-self: center;
    transition: transform 0.3s ease;
    transform-origin: left;
    font-weight: 700;
}
p:hover {
    transform: scale(1.038);
}
.cart_btn {
    /* 1. التثبيت في الشاشة */
    position: fixed; 
    bottom: 20px; /* يبعد 20 بكسل من أسفل الشاشة */
    left: 20px;   /* يبعد 20 بكسل من يسار الشاشة */
    z-index: 1000; /* يجعله دائماً فوق كل العناصر الأخرى */

    /* 2. تصميم الزر */
    font-family: 'Cairo', "Inter", sans-serif;
    background: linear-gradient(to right, #ff9900, #ffc950); /* تدرج لوني جذاب */
    color: #212020; /* لون نص داكن */
    border: none;
    padding: 15px 25px;
    border-radius: 30px; /* جعل الزر دائرياً من الحواف */
    font-size: 18px;
    font-weight: 800;
    cursor: pointer; /* تغيير شكل المؤشر ليشعر المستخدم أنه يمكن الضغط عليه */
    box-shadow: 0 4px 10px rgba(221, 255, 1, 0.463); /* إضافة ظل لجعله بارزاً */
    transition: transform 0.2s ease;
}

.cart_btn:hover {
    transform: scale(1.05); /* تكبير الزر قليلاً عند مرور المؤشر */
    box-shadow: 0px 6px 15px rgba(231, 227, 3, 0.777);
}
.img1 {
    position: absolute;
    right: 0; /* تحريك الصورة لأعلى يمين الحاوية */
    margin: 5px;
    width: 210px;
}

.img2 {
    position: absolute;
    right: 0; /* تحريك الصورة لأعلى يمين الحاوية */
    height: auto;
    width: 340px;
}
.img3 {
    position: absolute;
    right: 0; /* تحريك الصورة لأعلى يمين الحاوية */
    height: auto;
    width: 300px;
}
@media (max-width: 1140px) {
    img {
        display: none;
    }
}
img {
    transition: transform 0.3s ease;
    transform-origin: right;
}
img:hover {
    transform: scale(1.017);
}
@media (max-width: 500px) {
    header {
        display: none;
    }
}